<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Test Regression Suite" thread-count="5" parallel="tests" verbose="4">
    <listeners>
        <listener class-name="com.qa.orangeHRM.listeners.ExtentReportListener" />
    </listeners>

    <test name="OrangeHRM Home Page Test chrome">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.qa.orangeHRM.test.LoginTest" />
            <class name="com.qa.orangeHRM.test.DashboardTest" />
        </classes>
    </test>
</suite>
