<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Test Regression Suite" thread-count="5" parallel="tests" verbose="4">
    <listeners>
        <listener class-name="com.qa.orangeHRM.listeners.ExtentReportListener" />
    </listeners>

    <test name="OrangeHRM Home Page Test chrome">
        <parameter name="browser" value="chrome" />
        <classes>
<!--             <class name="com.qa.orangeHRM.test.LoginTest" />
<!--             <class name="com.qa.orangeHRM.test.DashboardTest" /> -->
<!--            <class name="com.qa.orangeHRM.test.PIMTest" />--> -->
<!--             <class name="com.qa.orangeHRM.test.AdminTest" />
            <class name="com.qa.orangeHRM.test.ClaimTest" /> -->
        </classes>
    </test>

<!--    <test name="OrangeHRM Home Page Test firefox">-->
<!--        <parameter name="browser" value="firefox" />-->
<!--        <classes>-->
<!--            <class name="com.qa.orangeHRM.test.LoginTest" />-->
<!--&lt;!&ndash;            <class name="com.qa.orangeHRM.test.DashboardTest" />&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="com.qa.orangeHRM.test.PIMTest" />&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="com.qa.orangeHRM.test.AdminTest" />&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="com.qa.orangeHRM.test.ClaimTest" />&ndash;&gt;-->
<!--        </classes>-->
<!--    </test>-->

    <test name="OrangeHRM Home Page Test edge">
        <parameter name="browser" value="edge" />
        <classes>
            <class name="com.qa.orangeHRM.test.LoginTest" />
<!--            <class name="com.qa.orangeHRM.test.DashboardTest" />-->
<!--            <class name="com.qa.orangeHRM.test.PIMTest" />-->
<!--            <class name="com.qa.orangeHRM.test.AdminTest" />-->
<!--            <class name="com.qa.orangeHRM.test.ClaimTest" />-->
        </classes>
    </test>
</suite>
